<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786974580178-299aj8gb8gdcrkbdcrio5jku0voh2fur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786974580178-299aj8gb8gdcrkbdcrio5jku0voh2fur</string>
	<key>API_KEY</key>
	<string>AIzaSyCHlSRIXlY1-yxSFlUTi6jDuV_Tn9nQt14</string>
	<key>GCM_SENDER_ID</key>
	<string>786974580178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.poojachow.shabdakrida</string>
	<key>PROJECT_ID</key>
	<string>shabdakrida</string>
	<key>STORAGE_BUCKET</key>
	<string>shabdakrida.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786974580178:ios:968dca9bfafa9bc3bf7c0b</string>
</dict>
</plist>